In [1]:
import pandas as pd
import numpy as np

train = pd.read_csv('W23P1_train.csv')
test = pd.read_csv('W23P1_test.csv')
sub = pd.read_csv('W23P1_sample_submission.csv')

In [3]:
print(train.shape)
train.head()

(35000, 8)

,uid,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,31722,9.0,2013-01-07 01:50:51 UTC,-73.991421,40.750160,-73.989490,40.726085,2
1,14674,14.0,2013-01-15 20:08:00 UTC,-73.997945,40.741057,-73.956223,40.767312,6
2,37571,19.5,2013-01-20 00:25:55 UTC,-73.999161,40.688531,-74.026611,40.616634,1
3,47583,6.0,2013-01-01 02:30:00 UTC,-73.991490,40.744257,-73.980912,40.748492,1
4,29473,33.5,2013-01-02 10:45:00 UTC,-73.972773,40.677702,-73.862242,40.768117,1

In [4]:
print(test.shape)
test.head()

(35000, 7)

,uid,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,3,2013-01-29 09:59:26 UTC,-73.987309,40.729064,-73.993770,40.721086,1
1,10,2013-01-05 14:56:36 UTC,-73.978188,40.754557,-73.973773,40.760330,2
2,15,2013-01-22 14:48:00 UTC,-73.973310,40.789970,-73.948010,40.778685,5
3,16,2013-01-11 23:14:10 UTC,-73.984608,40.728920,-73.991357,40.688171,2
4,17,2013-01-31 02:59:44 UTC,-73.990671,40.724603,-73.983896,40.665502,2

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35000 entries, 0 to 34999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   uid                35000 non-null  int64
 1   fare_amount        35000 non-null  float64
 2   pickup_datetime    35000 non-null  object
 3   pickup_longitude   35000 non-null  float64
 4   pickup_latitude    35000 non-null  float64
 5   dropoff_longitude  35000 non-null  float64
 6   dropoff_latitude   35000 non-null  float64
 7   passenger_count    35000 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 2.1+ MB

In [7]:
test[pd.isnull(test)].sum()

uid                  0.0
pickup_datetime        0
pickup_longitude     0.0
pickup_latitude      0.0
dropoff_longitude    0.0
dropoff_latitude     0.0
passenger_count      0.0
dtype: object