### W23P1 STAT 857 - Data Exploration

In [ ]:
## Importing libraries
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None, 'display.max_rows', None)

In [1]:
## Reading the data
train = pd.read_csv('W23P1_train_final.csv')
test = pd.read_csv('W23P1_test_final.csv')

### Checking for missing values

In [ ]:
train[pd.isnull(train)].sum()

In [ ]:
test[pd.isnull(test)].sum()

### EDA

In [2]:
train.head()

,uid,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,31722,9.0,2013-01-07 01:50:51 UTC,-73.991421,40.750160,-73.989490,40.726085,2
1,14674,14.0,2013-01-15 20:08:00 UTC,-73.997945,40.741057,-73.956223,40.767312,6
2,37571,19.5,2013-01-20 00:25:55 UTC,-73.999161,40.688531,-74.026611,40.616634,1
3,47583,6.0,2013-01-01 02:30:00 UTC,-73.991490,40.744257,-73.980912,40.748492,1
4,29473,33.5,2013-01-02 10:45:00 UTC,-73.972773,40.677702,-73.862242,40.768117,1

In [3]:
print(train.shape)

(35000, 8)

In [4]:
train.describe()

,uid,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,35000.000000,35000.000000,35000.000000,35000.000000,35000.000000,35000.000000,35000.000000
mean,34898.261057,11.838253,-73.975153,40.751120,-73.974668,40.751746,1.709371
std,20219.528040,9.971856,0.034798,0.026839,0.033688,0.030280,1.372106
min,1.000000,2.500000,-74.277592,40.467615,-74.533332,40.438022,1.000000
25%,17282.750000,6.500000,-73.992154,40.737171,-73.991430,40.736281,1.000000
50%,34827.500000,9.000000,-73.981943,40.754077,-73.980365,40.754365,1.000000
75%,52415.250000,13.000000,-73.967864,40.767686,-73.965351,40.768525,2.000000
max,69999.000000,160.000000,-73.423008,40.888921,-73.350000,40.990400,6.000000

In [ ]:
test.head()

In [ ]:
print(test.shape)

In [ ]:
test.describe()