### W23P1 STAT 857 - Data Exploration

In [2]:
## Importing libraries
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None, 'display.max_rows', None)

In [4]:
## Reading the data
train = pd.read_csv('Data/W23P1_train_final.csv')
test = pd.read_csv('Data/W23P1_test_final.csv')

### Checking for missing values

### EDA

In [7]:
train.head()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,distance,haversine,duration,passenger_count,pickup_day,holiday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,weekend,pickup_hour,rush_hour,overnight,airport,LGA,JFK,EWR,pickup_LGA,dropoff_LGA,pickup_JFK,dropoff_JFK,pickup_EWR,dropoff_EWR,pickup_airport,dropoff_airport,change_borough,pickup_bronx,pickup_brooklyn,pickup_manhattan,pickup_queens,pickup_staten_island,dropoff_bronx,dropoff_brooklyn,dropoff_manhattan,dropoff_queens,dropoff_staten_island
0,9.0,-73.991421,40.750160,-73.989490,40.726085,2.3,1.666493,15,2,7,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
1,14.0,-73.997945,40.741057,-73.956223,40.767312,4.1,2.838899,19,6,15,0,0,1,0,0,0,0,0,20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
2,19.5,-73.999161,40.688531,-74.026611,40.616634,6.3,5.171809,12,1,20,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0
3,6.0,-73.991490,40.744257,-73.980912,40.748492,0.9,0.626273,7,1,1,1,0,1,0,0,0,0,0,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
4,33.5,-73.972773,40.677702,-73.862242,40.768117,11.3,8.516176,25,1,2,0,0,0,1,0,0,0,0,10,0,0,1,1,0,0,0,1,0,0,0,0,0,1,1,0,1,0,0,0,0,0,0,1,0

In [3]:
print(train.shape)

(35000, 8)

In [12]:
su = train[['pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude', 'passenger_count', 'fare_amount']].describe()

In [35]:
first = pd.DataFrame(su.astype(int).iloc[0, :])

In [36]:
first

                   count
pickup_longitude   35000
pickup_latitude    35000
dropoff_longitude  35000
dropoff_latitude   35000
passenger_count    35000
fare_amount        35000

In [37]:
su

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,fare_amount
count,35000.000000,35000.000000,35000.0000,35000.0000,35000.0000,35000.0000
mean,-73.975200,40.751100,-73.9747,40.7517,1.7094,11.8383
std,0.034800,0.026800,0.0337,0.0303,1.3721,9.9719
min,-74.277600,40.467600,-74.5333,40.4380,1.0000,2.5000
25%,-73.992200,40.737200,-73.9914,40.7363,1.0000,6.5000
50%,-73.981900,40.754100,-73.9804,40.7544,1.0000,9.0000
75%,-73.967900,40.767700,-73.9654,40.7685,2.0000,13.0000
max,-73.423008,40.888921,-73.3500,40.9904,6.0000,160.0000

In [10]:
train.columns

Index(['fare_amount', 'pickup_longitude', 'pickup_latitude',
       'dropoff_longitude', 'dropoff_latitude', 'distance', 'haversine',
       'duration', 'passenger_count', 'pickup_day', 'holiday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'weekend',
       'pickup_hour', 'rush_hour', 'overnight', 'airport', 'LGA', 'JFK', 'EWR',
       'pickup_LGA', 'dropoff_LGA', 'pickup_JFK', 'dropoff_JFK', 'pickup_EWR',
       'dropoff_EWR', 'pickup_airport', 'dropoff_airport', 'change_borough',
       'pickup_bronx', 'pickup_brooklyn', 'pickup_manhattan', 'pickup_queens',
       'pickup_staten_island', 'dropoff_bronx', 'dropoff_brooklyn',
       'dropoff_manhattan', 'dropoff_queens', 'dropoff_staten_island'],
      dtype='object')

In [ ]:
print(test.shape)

In [ ]:
test.describe()